{% extends 'sgo_app/base.html' %}

{% block content %}
<div class="about-container">
    <h1>Sobre</h1>
    
    <div class="project-info">
        <h2>Projeto integrador UNIVESP</h2>
        
        <div class="logo-container">
            <h1 id="logoUnivesp">UNIVESP</h1>
        </div>

        <h3>Projeto: SGO — Sistema de Gestão de Oficina</h3>
        
        <div class="project-description">
            <p>Sistema para cadastro e consulta de reparos em equipamentos eletrônicos em pequenas oficinas.</p>
        </div>

        <div class="team-members">
            <h4>Equipe do projeto</h4>
            <ul>
                <li>Anderson Simonassi RA: 2320994</li>
                <li>André Luiz de Araújo Pessoa RA:23203504</li>
                <li>Maria Luiza de Campos RA: 23217190 </li>
                <li>Marco Antonio Neves Carneiro RA: 2208788</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}